<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Image Search</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <style>
    body {
      background-image: url(<%= imageUrl %>);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
    }
  </style>
</head>