<%- include('partials/header.ejs') %>

  <body>

    <main>
      <h1>Cool Images</h1>

      <form action="/search">
        <input placeholder="Type Keyword" type="text" name="keyword" />
        <button>Search</button>
        <br/><a href="/getKeywords">See Favorites</a>
      </form>
      
      <% imageUrlArray.forEach((url, i) => { %>
        <%- (i % 3 == 0)?'<br>':'' %>
        <img src='<%= url %>' width="200" height="200" />
        <img class="favoriteIcon" src='img/favorite.png' width='20' />
      <% }); %>
      
    </main>

    <%- include('partials/footer.ejs') %>
